!!! XML
!!! 1.1
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "content-type", :content => "text/html; charset=UTF-8" } 
    %title
      Avatar Hotel - 
      = @item[:title]
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/style.css", :media => "screen" }
    %meta{ :name => "generator", :content => "nanoc 3.1.5" }
    %script{ :type => "text/javascript", :src => relative_path_to("/javascripts/jquery-1.4.2.js")}
    %script{ :type => "text/javascript", :src => relative_path_to("/javascripts/site.js")}
    / Groupwork for the Course "Programming the Internet"
    / University of Liverpool, 2010
    / Ali Mikati & Jens-Christian Fischer
  %body
    #fixed
      #header
        %h1
          - home_page = @items.find { |i| i.reps[0].path == '/' }  
          = link_to(home_page[:title], home_page.reps[0]) 
      #centeredmenu
        %ul 
          - home_page.children.each_with_index do |page, idx| 
            - unless page[:title] == nil  
              %li
                = link_to(page[:title], page.reps[0])
                - last = idx == home_page.children.size - 1 ? "last" : nil
                - unless page.children.empty?
                  %ul{ :class => last  }
                    - page.children.each do |sub_page| 
                      %li
                        = link_to(sub_page[:title], sub_page.reps[0]) 

      #content
        #main_column
          = yield
        #right_column
          = render 'right'
      .clear
      #footer
        = render 'footer'
