!!! XML
!!! 1.1
%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en" }
  %head
    %meta{ :'http-equiv' => "content-type", :content => "text/html; charset=UTF-8" } 
    %title
      Avatar Hotel - 
      = @item[:title]
    %link{ :rel => "stylesheet", :type => "text/css", :href => "/style.css", :media => "screen" }
    %meta{ :name => "generator", :content => "nanoc 3.1.5" }
    %script{ :type => 'text/javascript', :src => 'http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAUq9pOIcxDbT1XNSLwp_OkBRvSOSac0aUQ-l50OmTVFr4ntqXehSzq_pfXR_BdMUsmMzYWag1KA90JA' }

    %script{ :type => "text/javascript", :src => relative_path_to('/javascripts/jquery.js')}
    %script{ :type => "text/javascript", :src => relative_path_to("/javascripts/validate.js")}
    %script{ :type => "text/javascript", :src => relative_path_to("/javascripts/gmap.js")}
    %script{ :type => "text/javascript", :src => relative_path_to("/javascripts/site.js")}
    / Groupwork for the Course "Programming the Internet"
    / University of Liverpool, 2010
    / Ali Mikati & Jens-Christian Fischer
  %body
    #fixed
      #header
        %h1
          - home_page = @items.find { |i| i.reps[0].path == '/' }  
          = link_to(home_page[:title], home_page.reps[0]) 
      #centeredmenu
        %ul 
          - home_page.children.each_with_index do |page, idx| 
            - unless page[:title] == nil  
              %li
                = link_to(page[:title], page.reps[0])
                - last = idx == home_page.children.size - 1 ? "last" : nil
                - unless page.children.empty? || page[:title] == "Gallery"
                  %ul{ :class => last  }
                    - page.children.each do |sub_page| 
                      %li
                        = link_to(sub_page[:title], sub_page.reps[0]) 
        .clear

      #content
        #right_column
          = render 'right'
        #main_column
          = yield
        .clear
      #footer
        = render 'footer'
    :javascript
      <!-- Piwik -->
      var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.invisible.ch/" : "http://stats.invisible.ch/");
      document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
      </script><script type="text/javascript">
      try {
      var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 23);
      piwikTracker.trackPageView();
      piwikTracker.enableLinkTracking();
      } catch( err ) {}
    %noscript
      %p
        %img{ :src => "http://stats.invisible.ch/piwik.php?idsite=23", :style => "border:0", :alt => "" }
        
